In [4]:
#print 0 to 20 by using Range
for i in range(20) :
    print (i, end=" ")
    print()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
#print Range 10 to 20
for i in range(10,20):
    print(i , end = ' ')

10 11 12 13 14 15 16 17 18 19

In [6]:
#print number of items in the list by using 'len'

nums=[10,20,14,55,43,87,76]
len (nums)

7

In [7]:
# print vertically 'ARTIFICIAL INTELLIGENCE'
word=['A','R','T','I','F','I','C','I','A','L','I','N','T','E','L','L','I','G','E','N','C','E']
for i in range(len(word)):
    print(word[i])

A
R
T
I
F
I
C
I
A
L
I
N
T
E
L
L
I
G
E
N
C
E

In [8]:
#illusrtrate
l=['-your name-','-your age-','-your profession-']
for i in l:
    print(i)

-your name-
-your age-
-your profession-

In [9]:
# tuples having mixed data type
my_tuple=((1,'Welcome'), (2,'Hope'))
print(my_tuple)

((1, 'Welcome'), (2, 'Hope'))

In [10]:
# the tuples having mixed data types
my_tuple=((0,1,2,3), ('Python', 'Hope'))
print(my_tuple)

((0, 1, 2, 3), ('Python', 'Hope'))

In [2]:
#print odd numbers in given list of numbers
list1=[10,20,16,19,25,1,276,188]
for num in list1:
    if num % 2 !=0:
        print(num, end=" ")

19 25 1

In [3]:
#print Even numbers in the given list
list1=[12,20,16,19,25,1,276,188]
for num in list1:
    if num % 2 ==0:
        print(num, end=" ")

12 20 16 276 188